 <ul>
<% @users.each do |user| %>
  <li><%= user.name %></li> 
  <% if current_user.nil? || current_user.admin? %>
      <%=link_to"Delete",user, :method => :delete , :confirm => "Are You Sure?" %>
   <%end%>
<%end%>
</ul>
