 <div class ="row">
    <div class ="span4">
      <%=gravatar_image_tag @user.email, :alt => @user.name, :class =>'thumbnail',:gravatar =>{:size =>210 }%>
    </div>
    <div class ="span6">
        <h1><%=@user.name %></h1> <br/>
         
    <% if @user == current_user %>
      <%=link_to "Edit Profile", edit_user_path(@user) %>
    <%end%>

    </div>
 </div>



